/* -----------------------------------------------------------------------------------------
DEFINITION: NAV 
*/

.nav {
  margin-bottom: 0;
}
.nav > li > a {
  display: block;
}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #eeeeee;
}
.nav > li > a > img {
  max-width: none;
}
.nav > .pull-right {
  float: right;
}
.nav-list {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 0;
}
.nav-list > li > a {
  margin-left: -15px;
  margin-right: -15px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  padding: 3px 15px;
}
.nav-list > .active > a,
.nav-list > .active > a:hover,
.nav-list > .active > a:focus {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  background-color: #9bd0f6;
}
.nav-list [class^="icon-"],
.nav-list [class*=" icon-"] {
  margin-right: 2px;
}
.nav-list .divider {
  *width: 100%;
  height: 1px;
  margin: 9px 1px;
  *margin: -5px 0 5px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid white;
}
/* -----------------------------------------------------------------------------------------
DEFINITION: NAV-TABS 
*/
.nav-tabs,
.nav-pills {
  *zoom: 1;
}
.nav-tabs:before, .nav-tabs:after,
.nav-pills:before,
.nav-pills:after {
  display: table;
  content: "";
  line-height: 0;
}
.nav-tabs:after,
.nav-pills:after {
  clear: both;
}

.nav-tabs > li,
.nav-pills > li {
  float: left;
}

.nav-tabs > li > a,
.nav-pills > li > a {
  padding-right: 12px;
  padding-left: 12px;
  margin-right: 2px;
  line-height: 14px;
}

.nav-tabs {
  border-bottom: 1px solid #ddd;
}

.nav-tabs > li {
  margin-bottom: -1px;
}

.nav-tabs > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 20px;
  border: 1px solid transparent;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
.nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
  border-color: #eeeeee #eeeeee #dddddd;
}

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus {
  color: #666666;
  background-color: white;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  cursor: default;
}
/* -----------------------------------------------------------------------------------------
DEFINITION: THIS NAV-TABS SQUARED THE EDGE OF THE TAB'S TITLE
*/
.nav-tabs > li > a {
  -webkit-border-radius: 1px 1px 0 0;
  -moz-border-radius: 1px 1px 0 0;
  border-radius: 1px 1px 0 0;
  color: #f8f8f8;
}
/* -----------------------------------------------------------------------------------------
DEFINITION: TAB-HEADER KEEPS THE TAB TIE 
*/
.tab-header {
  margin-top: 0;
  margin-bottom: 1em;
  font-size: 14px;
}
/* -----------------------------------------------------------------------------------------
DEFINITION: TAB-CONTENT AND TAB-PANE ALLOWS THE CONTENT TO BE SHOWD AND SEPARETED ON EACH TAB 
*/
.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}
.tab-content {
  overflow: auto;
}
.tab-content > .active,
.pill-content > .active {
  display: block;
}
/* -----------------------------------------------------------------------------------------
DEFINITION: IMG-CIRCLE AROUND THE ICON-PORTRAIT  
*/
.img-circle {
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
}
/* -----------------------------------------------------------------------------------------
DEFINITION: USERS-LIST  
*/
.users-list.user-list-no-hover li:hover {
  background: none;
  cursor: default;
}
.users-list li {
  border-top: 1px solid rgba(51, 51, 51, 0.25);
  padding: 12px;
  margin: 0 -12px;
  cursor: pointer;
  height: 50px;
}
.users-list li:hover {
  background: rgba(51, 51, 51, 0.25);
}
.users-list li:last-child {
  margin-bottom: -10px;
}
.users-list img {
  height: 50px;
  width: 50px;
}
.users-list .user-info {
  margin-left: 62px;
  /*50 + 12px padding*/
}
.users-list .name, .users-list .time, .users-list .position {
  line-height: 16px;
}
.users-list .name {
  text-transform: uppercase;
}
.users-list .name a {
  text-decoration: none;
}
.users-list .name a:hover {
  color: #9bd0f6;
}
.users-list .time {
  font-size: 11.05px;
  color: #d2d2d2;
}
.users-list .options {
  margin-top: 5px;
}
.users-list .comment {
  font-size: 11.05px;
  color: #f8f8f8;
  line-height: 1.3em;
}
/* -----------------------------------------------------------------------------------------
DEFINITION: WIDGET-TABS 
*/
.widget-tabs {
  background: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 0;
}
.widget-tabs .body {
  background: rgba(51, 51, 51, 0.4);
  margin-top: 0;
  padding: 10px 12px;
  -webkit-border-radius: 0 0 1px 1px;
  -moz-border-radius: 0 0 1px 1px;
  -ms-border-radius: 0 0 1px 1px;
  -o-border-radius: 0 0 1px 1px;
  border-radius: 0 0 1px 1px;
}
.widget-tabs .nav-tabs {
  border-bottom: none;
}
.widget-tabs .nav > li > a {
  padding-top: 7px;
  padding-bottom: 6px;
  color: #f8f8f8;
}
.widget-tabs .nav > li.active {
  margin-bottom: 0;
}
.widget-tabs .nav > li.active > a {
  border-color: transparent;
  background: rgba(51, 51, 51, 0.4);
}
.widget-tabs .nav > li.active > a:hover {
  color: #f8f8f8;
}
.widget-tabs .nav > li:not(.active) > a {
  background: rgba(51, 51, 51, 0.4);
  border-bottom: none;
}
.widget-tabs .nav > li:not(.active) > a:hover {
  background: rgba(26, 26, 26, 0.4);
  border-color: transparent;
}
.widget-tabs .nav > li:first-child > a {
  border-left: none;
}
.widget:not(.widget-tabs) .tab-content {
  background: rgba(51, 51, 51, 0.25);
  padding: 10px;
  border: none;
  border-top: none;
  -webkit-border-radius: 0 0 1px 1px;
  -moz-border-radius: 0 0 1px 1px;
  -ms-border-radius: 0 0 1px 1px;
  -o-border-radius: 0 0 1px 1px;
  border-radius: 0 0 1px 1px;
}
.widget:not(.widget-tabs) .tabs-below .tab-content {
  border-bottom: none;
  -webkit-border-radius: 1px 1px 0 0;
  -moz-border-radius: 1px 1px 0 0;
  -ms-border-radius: 1px 1px 0 0;
  -o-border-radius: 1px 1px 0 0;
  border-radius: 1px 1px 0 0;
}
.widget:not(.widget-tabs) .tabs-left .tab-content {
  -webkit-border-radius: 0 1px 1px 0;
  -moz-border-radius: 0 1px 1px 0;
  -ms-border-radius: 0 1px 1px 0;
  -o-border-radius: 0 1px 1px 0;
  border-radius: 0 1px 1px 0;
}
.widget:not(.widget-tabs) .tabs-right .tab-content {
  -webkit-border-radius: 1px 0 0 1px;
  -moz-border-radius: 1px 0 0 1px;
  -ms-border-radius: 1px 0 0 1px;
  -o-border-radius: 1px 0 0 1px;
  border-radius: 1px 0 0 1px;
}





